figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  flex-basis: 300px;

}

img {
  width:100%;
  max-height: 150px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
.image-gallery{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
